<nav class="navbar navbar-light bg-light ps-4 pe-5">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">
            <i class="bi bi-bookmark-heart d-inline-block align-text-top"></i>
            <span class="navbar-title">BookSearch</span>
        </a>

        <form class="d-flex" (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="input-group">
                <input class="form-control me-2" type="search" placeholder="search book" aria-label="Search"
                    name="queryParam" ngModel>
                <span class="input-group-text" type="submit" id="search-icon" (click)="onSubmit()"><i
                        class="bi bi-search" [routerLink]="['/books']"></i></span>
            </div>
        </form>
    </div>
</nav>