@import "~bootstrap-icons/font/bootstrap-icons.css";


.navbar-brand {
    font-size: 24px;
    .bi-bookmark-heart {
        color: darkred;
    }

        
    .navbar-title {
        padding-left: 0.25em;
    }
}