.sticky {
    position: fixed;
    top: 0;
    height: 7rem;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 1.25rem;
    .bookmark-heart {
        color: darkred;
        font-size: 2rem;
        padding: 0.25em 0;
    }

        
    .navbar-title {
        padding-left: 0.25em;
        
    }
}