.book-list {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 7rem;
}

.book-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  padding: 7rem 1.5rem;

  .book-error-code {
    font-size: 2.5rem;
  }

  .book-error-message {
    padding-top: 0.75rem;
    font-size: 1.15rem;
    font-style: italic;
    text-align: center;
  }
}

@media (max-width: 991.5px) {
  .book-list {
    // margin-top: 1rem;
    margin-top: 9.5rem;
  }
}
