.container-fluid {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  position: sticky;
  top: 7rem;
}

button.btn {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

@media (max-width: 992px) {
  .container-fluid {
    // margin-top: 7rem;
    position: fixed;
    z-index: 1;
    padding-bottom: 1rem;
    width: 100%;
    padding-left: 0;
  }

  .nav {
    justify-content: center;
    width: 100vw;
  }

  button.btn {
    max-width: 8rem;
    margin: 0 0.75rem;
  }
}

@media (max-width: 400px) {
  .container-fluid {
    top: 8rem;
  }

  button.btn {
    margin: auto;
  }
}
