.container {
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  position: sticky;
  top: 7rem;
}

a.nav-link {
  width: 75%;
  padding: 0.5rem 0;
}

@media (max-width: 1200px) {
  .container {
    // margin-top: 7rem;
    position: fixed;
    z-index: 1;
    padding-bottom: 1rem;
  }

  .nav {
    justify-content: center;
    width: 100vw;
  }

  a.nav-link {
    max-width: 9rem;
  }
}

@media (max-width: 400px) {
  .container {
    top: 8rem;
  }
}
