.trim-text {
    display: block;
    display: -webkit-box;

    max-width: 90%;
    height: 200px;

    margin: 0 auto;
    line-height: 1.55;
    text-align: justify;

    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        overflow: scroll;
    }
}