<div class="container">
    <div class="row image-description">
        <div class="col-3">
            <img [src]="selectedBook.imagePath" alt="" class="book-image">
        </div>
        <div class="col-9 book-description">
            <p class="trim-text">{{ selectedBook.description }}</p>
        </div>
    </div>

    <div class="row title">
        <h2>{{ selectedBook.title }}</h2>
    </div>

    <div class="row rating">
        <div class="d-flex justify-content-start">
            <p class="rating-text">Rating: </p>
            <app-stars [rating]="selectedBook.avgRating"></app-stars>
        </div>
    </div>

    <div *ngIf="selectedBook.categories" class="row categories">
        <div class="d-flex justify-content-start">
            <p class="categories-text">Categories: </p>
            <span class="categories-list" *ngFor="let category of selectedBook.categories">
                <span class="badge rounded-pill bg-primary">{{ category }}</span>
            </span>
        </div>
    </div>

    <div *ngIf="selectedBook.authors" class="row authors">
        <div class="d-flex justify-content-start">
            <p class="authors-text">Authors:</p>
            <div class="authors-display" *ngFor="let author of selectedBook.authors">
                <span class="badge rounded-pill bg-info">{{ author }}</span>
            </div>
        </div>
    </div>
</div>