<div class="container pe-3">
    <div class="row image-description">
        <div class="col-12 col-xl-3 ps-4">
            <img [src]="selectedBook.imagePath" alt="" class="book-image">
        </div>
        <div *ngIf="selectedBook.description" class="col-12 col-xl-9">
            <p class="trim-text">{{ selectedBook.description }}</p>
        </div>
    </div>

    <div class="row title">
        <h2>{{ selectedBook.title }}</h2>
    </div>

    <div class="row rating">
        <div class="d-flex justify-content-start">
            <p class="rating-text">Rating: </p>
            <app-stars [rating]="selectedBook.avgRating"></app-stars>
        </div>
    </div>

    <div *ngIf="selectedBook.categories" class="row categories">
        <p class="categories-text">Categories:</p>
        <div class="categories-list" *ngFor="let category of selectedBook.categories">
            <span class="badge rounded-pill bg-primary">{{ category }}</span>
        </div>
    </div>

    <div *ngIf="selectedBook.authors" class="row authors">
        <p class="authors-text">Authors:</p>
        <div class="authors-display" *ngFor="let author of selectedBook.authors">
            <span class="badge rounded-pill bg-info">{{ author }}</span>
        </div>

    </div>
</div>