@use "@angular/material" as mat;
@import "~@angular/material/theming";

// Define a custom typography config that overrides the font-family as well as the `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Merriweather",
  $title: mat-typography-level(1.5rem, 1.4, 700),
  $subheading-1: mat-typography-level(1rem, 1.2, 700, "Raleway"),
  $body-1: mat-typography-level(1rem, 1.2, 400, "Raleway"),
);

@include mat-base-typography($custom-typography);

@include mat-core($custom-typography);
